.map__image_caption {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-align: start;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0;
}
@media screen and (max-width: 768px) {
  .map__image_caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .map__image_caption {
    padding-left: 16px;
  }
}
