.lead {
  max-width: calc(984px + 2 * 148px);
  padding: 28px 148px 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: calc(928px + 2 * 48px);
    padding: 20px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    padding-top: 32px;
  }
}
