.cards__url-heading {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .cards__url-heading {
    font-size: 12px;
    line-height: 12px;
  }
}
