.map__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .map__subtitle {
    max-width: 928px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  .map__subtitle {
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
    max-width: 288px;
  }
}
