.places__card {
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(352px 484px);
  grid-template-rows: fit-content(152px) fit-content(460px);
  grid-template-areas:
    "title url"
    "image paragraph";
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__card:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 320px) {
  .places__card {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "url"
      "image"
      "paragraph";
    gap: 32px;
    margin-bottom: 50px;
    align-items: start;
  }
}
