.places__card {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: fit-content(152px) 460px;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__card:last-of-type {
  margin-bottom: 0;
}
