@import url(../vendor/fonts/fonts.css);
@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);

/* HEADER SECTION */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/__link/_lang/header__link_lang.css);
@import url(../blocks/header/__link/_underline/header__link_underline.css);

/* MAP SECTION */
@import url(../blocks/map/map.css);
@import url(../blocks/map/__title/map__title.css);
@import url(../blocks/map/__subtitle/map__subtitle.css);
@import url(../blocks/map/__lead/map__lead.css);
@import url(../blocks/map/__image/map__image.css);
@import url(../blocks/map/__image/_caption/map__image_caption.css);

/* DESCRIPTION */
@import url(../blocks/description/description.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/description/__text/description__text.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__statistic/table__statistic.css);
@import url(../blocks/table/__statistic/_span/table__statistic_span_bold.css);

/* GALLERY */
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gallery__image.css);

/* PLACES */
.places {
  max-width: 984px;
  margin: 0 auto;
}

.places__card {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: fit-content(152px) 460px;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__card:last-of-type {
  margin-bottom: 0;
}

.places__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  margin: 0;
  align-self: end;
}

.places__image {
  width: 100%;
  align-self: start;
}

.places__url {
  align-self: end;
}

.places__url-heading {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

places__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.places__paragraph {
  align-self: start;
}

.places__text {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
}

.places__text:not(:last-child) {
  margin-bottom: 26px;
}

/* COVER SECTION */
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
