.cards__text {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  margin: 0;
}

.cards__text:not(:last-child) {
  margin-bottom: 27px;
}

@media screen and (max-width: 768px) {
  .cards__text {
    font-size: 16px;
    line-height: 26px;
  }
  .cards__text:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .cards__text {
    padding: 0 16px;
  }
}
